---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import "@components/PostStyle.scss";

export async function getStaticPaths() {
  const blogEntries = await getCollection("docs");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry, title } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={title}>
  <main>
    <article>
      <Content/>
    </article>
  </main>
</Layout>
