---
import { getCollection, getEntryBySlug } from "astro:content";
import { Debug } from "astro/components";

import Layout from "../../layouts/Layout.astro";

const docs = await getCollection("docs");
---

<Layout title="Docs">
  <h1>Docs</h1>
  <ul>
    {
      docs.map((d) => (
        <li>
          <a href={"/docs/" + d.slug}>{d.slug}</a>
        </li>
      ))
    }
  </ul>
  <!-- <Debug {co} /> -->
  <!-- <Debug {Astro.url} /> -->
</Layout>
