---
import BlockTextureLayout from "../layouts/BlockTextureLayout.astro";
import HeroButton from "../components/HeroButton.astro";
---

<BlockTextureLayout title="404 - NOT FOUND" info="HTTP ERROR">
    <div id="flex">
        <HeroButton class="button" onClick="window.location.href='//' + window.location.host;">Back Home</HeroButton>
        <div style="width: 5vmax; height: 5vmax;"></div>
        <HeroButton class="button" onClick="history.back();">Previous Page</HeroButton>
    </div>
</BlockTextureLayout>

<style>
    #flex {
        display: flex;
        justify-content: center;
    }

    @media screen and (orientation: portrait) {
        #flex {
            flex-direction: column;
            margin: 0 25vw;
        }
    }
</style>
