---
import Card from "@components/Card.astro"
import Layout from "@layouts/Layout.astro"
---

<Layout title="404">
  <main class="m-auto p-1.5 max-w-2xl">
    <Card title="HTTP Status Code">
      <h1>404 NOT FOUNT</h1>
      <a href="/">首页</a>
      <!-- <a onclick="history.back();">上一页</a> -->
    </Card>
  </main>
</Layout>