---
import { Debug } from "astro/components";
import Layout from "../layouts/Layout.astro";

const blog = await Astro.glob("../../blog/*.md");
---

<Layout title="Blog">
  <h1>Blog</h1>
  {
    blog.map((post) => (
      <a href={post.url}>
        <object>
          <li>{post.frontmatter.title}</li>
        </object>
      </a>
    ))
  }
</Layout>
