---
import { Debug } from "astro/components";
import Layout from "../layouts/Layout.astro";

const docs = await Astro.glob("../../docs/*.md");
---

<Layout title="Docs">
  <h1>Docs</h1>
  <Debug {docs} />
  {
    docs.map((post) => (
      <a href={post.url}>
        <object>
          <li>{post.frontmatter.title}</li>
        </object>
      </a>
    ))
  }
</Layout>
