---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const gitHub = "https://github.com/Yue-plus/astro-endfield";
const text = `Pull content from anywhere and serve it fast with Astro's next-gen island architecture.`;
---

<Layout title="Welcome back AstroEndfield.">
  <div class="h-4 p-3 leading-4">
    <div class="h-4 w-4 bg-white inline-block align-middle" style="color: #">
    </div>
    {"Welcome back AstroEndfield.".toUpperCase()}
  </div>
  <main class="m-auto p-1.5 max-w-2xl">
    <Card title="Info">
      <div
        class="h-12 w-12 inline-block mr-3"
        style="background-color: #fdfd1f;"
      >
      </div>
      <h1 class="text-5xl inline-block">Build faster websites.</h1>
      <div class="h-64 text-2xl">
        <img
          class="h-64 w-64 inline-block float-left pr-3"
          src="/assets/img/endfield-industries.svg"
          alt="Endfield Industries"
        />
        {text}
      </div>
      <div class="p-3 text-center">
        <a class="p-3 mr-3 bg-endfield" href="/docs/start">Get Start</a>
        <a target="_blank" class="p-3 bg-arknights text-white" href={gitHub}>
          ↗GitHub
        </a>
      </div>
    </Card>
    <Card title="Code">
      <code>Welcome back AstroEndfield.</code>
    </Card>
  </main>
</Layout>
