---
import Layout from '../layouts/Layout.astro';
import HeroButton from '../components/HeroButton.astro';

const SLOGAN = "Astro powers the world's fastest websites, client-side web apps, dynamic API endpoints, and everything in-between."
---

<Layout title="Welcome back AstroEndfield.">
    <div id="block-texture">
        <img id="arknights-prefix-pattern" src="/assets/arknights_prefix_pattern.png" alt="Arknights"/>
        <img id="endfield-industries" src="/assets/endfield-industries.svg" alt="LOGO"/>
        <img id="endfield-pattern" src="/assets/endfield_pattern.png" alt="ENDFIELD"/>
    </div>
    <div id="slogan">{SLOGAN}</div>
    <div style="text-align: center; padding: 2.5vh 0; box-sizing: border-box">
        <HeroButton>Get Started</HeroButton>
    </div>
</Layout>

<style>
    #block-texture {
        width: 100vw;
        height: 60vh;
        display: inline-block;
        background-image: url("/assets/block_texture_m.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        position: relative;
    }

    #block-texture,
    #block-texture img {
        user-select: none;
        pointer-events: none;
    }

    #arknights-prefix-pattern {
        position: absolute;
        top: 10vh;
        left: 8vw;
    }

    #endfield-industries {
        height: 50vw;
        max-height: 45vh;
        display: inline-block;
        box-sizing: border-box;
        position: absolute;
        top: 15vh;
        left: 8vw;
    }

    #endfield-pattern {
        height: 9vh;
        display: inline-block;
        position: absolute;
        left: 8vw;
        bottom: 8vw
    }

    #slogan {
        color: #383838;
        width: 75vw;
        padding-left: 15vw;
        margin: 3vh auto;
        font-size: 2.3vh;
    }

    #slogan::before {
        width: 8vw;
        height: 0.2vh;
        min-height: 2px;
        background-color: #383838;
        content: "";
        display: block;
        position: relative;
        left: -12vw;
        top: 1.5vh;
    }

    /** 处于横屏模式时 */
    @media screen and (orientation: landscape) {
        #block-texture {
            width: 85vw;
            height: 23vh;
            background-image: url("/assets/block_texture.jpg");
            margin-top: 25vh;
            margin-bottom: 10vh;
            margin-left: 15vw;
            overflow: unset;
        }

        #endfield-industries {
            height: 25vh;
            top: 4vh;
            left: 8vh;
        }

        #endfield-pattern, #arknights-prefix-pattern {
            left: 35vh;
        }

        #endfield-pattern {
            max-width: 50vw;
            height: unset;
            bottom: -3vh;
        }

        #slogan {
            width: 38vw;
        }
    }

    /** 超大屏特例 */
    @media screen and (width >= 3000px) and (height >= 1800px) {
        #arknights-prefix-pattern {
            height: 22px;
        }

        #endfield-pattern {
            width: unset;
            max-width: unset;
            height: 12vh;
        }
    }
</style>
