---
export interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<div class="m-3 shadow dark:shadow-dark">
  <div class="pl-3 pr-3 text-fg-lighter bg-bg-lighter dark:text-fg-darker dark:bg-bg-darker">
    {title}
  </div>
  <div class="p-3 text-fg-light bg-bg-light dark:text-fg-dark dark:bg-bg-dark">
    <slot />
  </div>
</div>
