---
export interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<div style="box-shadow: 0 1rem .5rem #000000CC">
  <div class="pl-3 pr-3" style={{ color: "#2f2f2f", backgroundColor: "#f5f5f5" }}>
    {title}
  </div>
  <div class="p-3" style={{ color: "#343434", backgroundColor: "#e6e6e6" }}>
    <slot />
  </div>
</div>
