---
import config from "../../endfield.config";

const icp = config.footer?.icp;
---

<footer
  class="h-24 max-h-24 bg-no-repeat bg-cover text-center"
  style={{ backgroundImage: "url(/assets/img/footer_bg_light.png)" }}
>
  <a class="relative top-16" target="_blank" href="https://beian.miit.gov.cn/">
    {icp}
  </a>
</footer>
