---
import config from "../../endfield.config";
import Fonts from "./Fonts.astro";
import Colors from "../components/Colors";
import Footer from "./Footer.astro";
import Header from "./Header.astro";

export interface Props {
  title: string;
}

const { title } = Astro.props;
const endfieldColor = Colors.primaryEndfield;
const arknightsColor = Colors.primaryArknights;
---

<!DOCTYPE html>
<html
  lang={config.language}
  class="h-full text-fg-lightest bg-bg-lightest dark:text-fg-darkest dark:bg-bg-lightest"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <Fonts />
  </head>
  <body
    class="h-full m-0 bg-no-repeat bg-fixed bg-cover bg-center flex flex-col dark:text-white"
    style="background-image: url(/assets/img/base_bg_light.jpg); font-family: 'JetBrains Mono';"
  >
    <Header />
    <slot class="flex-grow" />
    <Footer />
  </body>
</html>
