---
import config from "../../endfield.config";
import Colors from "../components/Colors";

export interface Props {
  title: string;
}

const { title } = Astro.props;
const endfieldColor = Colors.primaryEndfield;
const arknightsColor = Colors.primaryArknights;
---

<!DOCTYPE html>
<html lang={config.language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global define:vars={{ endfieldColor, arknightsColor }}>
  :root {
    --accent: var(--endfieldColor);
    --accent-gradient: linear-gradient(
      45deg,
      var(--arknightsColor),
      var(--endfieldColor) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
    background-image: url("/assets/img/base_bg.jpg");
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
